html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';

}

.country-name {
  display: flex;
  justify-content: center;
  font-size: 60px;
}



.flex-image {
  display: flex;
  flex: ;
}

.flex-text {
  // display: flex;
}
